Repository ScubaCod2020/libertytax-pnl-webapp, changes with the labels that .github/labeler.yml gives for each.
All labels: angular, react, ci-docs

.github/labeler.yml:

angular:
  - changed-files:
      - any-glob-to-any-file: 'angular/**'
react:
  - changed-files:
      - any-glob-to-any-file: 'src/**'
ci-docs:
  - changed-files:
      - any-glob-to-any-file: '.github/**'
      - any-glob-to-any-file: 'repo-blueprint.yml'

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-docs

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-docs

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-docs

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-docs

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-docs

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-docs

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-docs

Update deploy.yml
  .github/workflows/deploy.yml
Labels: ci-docs

fix(sass): move @use/@forward to top of SCSS files to satisfy Dart Sass rule
  angular/src/styles.scss
  tools/reorder-sass-directives.js
Labels: angular

chore: remove temporary Sass reordering script
  tools/reorder-sass-directives.js
Labels: none

perf(wizard): optimize WizardStateService to fix UI lockup on office type selection
  angular/src/app/core/services/wizard-state.service.ts
Labels: angular

fix: correct build output pattern in deployment workflow
  .github/workflows/deploy.yml
Labels: ci-docs

fix: force workflow refresh with comment - ensure deployment uses correct pattern
  .github/workflows/deploy.yml
Labels: ci-docs

debug: add logging to identify DIST_DIR variable override
  .github/workflows/deploy.yml
Labels: ci-docs

test: trigger deployment to verify DIST_DIR variable fix
  .github/workflows/deploy.yml
Labels: ci-docs

cleanup: remove debug logging after successful deployment fix
  .github/workflows/deploy.yml
Labels: ci-docs
